<div class="payment-side">
  <div>
    <h3 class="pull-left">Expense Summary</h3>
    <table class="pull-right">
      <tr class="summary-totals"><td>Total before payments:</td><td class="summary-amt"><%= number_to_currency current_user.get_total_expense_amt %></td></tr>
      <tr class="summary-totals"><td>Total after payments:</td><td class="summary-amt"><%= number_to_currency(current_user.get_total_expense_amt - current_user.get_total_pending_expense_amt) %></td></tr>
    </table>
  </div>
  <br />
  <table width="450px" class="table table-condensed">
    <thead>
      <tr>
        <th class="summary-header">Total owed by card</th>
        <th class="summary-header">Total owed by party<br />(before pending payments)</th>
        <th class="summary-header">Total owed by party<br />(after pending payments)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary-content"><%= doughnut_chart current_user.get_expense_total_by_card, { :height => 110, :width => 110, :class => "chart-box" } %></td>
        <td class="summary-content"><%= doughnut_chart current_user.get_expense_total_by_party, { :height => 110, :width => 110, :class => "chart-box" } %></td>
        <td class="summary-content"><%= doughnut_chart current_user.get_expense_total_by_party(false), { :height => 110, :width => 110, :class => "chart-box" } %></td>
      </tr>
    </tbody>
  </table>
</div>