<!-- Modal -->

<!-- Nav section for list of parties responsible for payment -->
<ul class="nav nav-tabs" id="payeeTab">
<% plan.get_payees.each_with_index do |party, index| %>
  <% active = (index == 0) ? "active" : "" %>
  <li role="presentation" class="<%=active%>"><%= link_to party, "##{party}-#{plan.id}", :class => "payee-link", :data => {:toggle => "tab"} %></li>
<% end %>
</ul>

<div class="tab-content" id="payment-section-<%= plan.id %>" data-plan-total="<%=plan.get_plan_total%>">
<% plan.get_payees.each_with_index do |party, index| %>
  <% active = (index == 0) ? "active" : "" %>
  <div class="tab-pane <%=active%> <%= plan.id %>" id="<%= "#{party}-#{plan.id}" %>" data-plan-id="<%= plan.id %>" data-party="<%= party %>">
    <% plan.get_payments_for_payee(party).each do |payment| %>
      <br />
      <div class="col-xs-3 payment-<%=payment.id%>"><%= payment.expense.date %></div>
      <div class="col-xs-3 payment-<%=payment.id%>"><%= link_to number_to_currency(payment.amt_paid), "#", :id => "payment-#{payment.id}", :class => "amt_field", :data => { :payment => "#{payment.amt_paid}", :url => "#{payment_path(payment)}", :name => "payment[amt_paid]", :pk => payment.id, :type => "number", :step => "0.01"} %></div>
      <div class="col-xs-4 payment-<%=payment.id%>"><%= payment.expense.retailer %> (<%= payment.how_to_pay || payment.expense.how_to_pay %>)</div>
      <% if request.original_fullpath =~ /\/expenses\??(page\=\d+)?/ %>
        <div class="col-xs-2"><i class="glyphicon glyphicon-trash" data-id="<%= payment.id %>" data-payment="<%=payment.amt_paid%>"></i></div>
      <% end %>
      <br class="clr" />
    <% end %>
    <br class="clr" />
    <hr />
    <div class="col-xs-5 col-xs-offset-1 payment-total">
      <b>Total for <%= party %>:</b> <span id="total-for-party-<%= party %>-<%= plan.id %>" data-total="<%= plan.get_payee_amt party %>"><%= number_to_currency plan.get_payee_amt party %></span>
    </div>
    <div class="col-xs-5 payment-total">
      <b>Total for plan!!:</b> <span class="total-for-plan-<%= plan.id %>" data-total="<%=plan.get_plan_total%>"><%= number_to_currency plan.get_plan_total %></span>
    </div>
    <br />
    <br />
    <div class="col-xs-5 col-xs-offset-1 payment-total">
      Breakdown per payment method:<br />
      <% payments = plan.get_payments_for_payee(party) %>
      <% payments.group_by { |p| p.how_to_pay }.each do |h,p| %>
        <%= h %>:  <%= number_to_currency(p.reduce(0) { |sum,exp| sum += exp.amt_paid }) %>
        <br />
      <% end%>
    </div>
    <br class="clr" />
  </div>
<% end %>
</div>

<script>
  $(function() {
//    $(".amt_field").editable({
//      step: 0.01
//    })
  })
</script>