<div class="card-list">
  <div class="col-xs-12">
  <% current_user.cards.each_with_index do |card, index| %>
    <div class="col-xs-2"><%= index + 1 %>:</div>
    <div class="col-xs-4"><%= link_to card.card_retailer, "#", :class => "card-name", :data => { :id => card.id, :url => "/cards/#{card.id}", :type => :text, :name => "card_name", :pk => card.id } %></div>
    <div class="col-xs-4"><i id="<%= card.id %>" class="glyphicon glyphicon-trash del-card"></i></div>
    <br />
  <% end %>
  </div>
  <br class="clr"/>
  <br />
  <div class="card-add-form">
    <%= simple_form_for Card.new, :html => { :id => "card-form" } do |e| %>
      <%= e.input :card_retailer, :label => "Card", wrapper_html: { class: "form-inline" } do %>
        <%= e.input_field :card_retailer, :label => "Card", :style => "margin-left: 30px;" %>
        <%= e.button :submit, "Add", :class => "btn btn-info card-add-button", :style => "margin-left: 30px;" %>
      <% end %>
    <% end %>
    <%= link_to "New card", "#", :id => "card-button", :class => "btn btn-primary" %>
  </div>
</div>

<script>
  $(function() {
    $('#card-button').click(function() {
      card_val = $('#card_card_retailer').val();
      $.ajax({
        type: 'POST',
        url: "/cards",
        data: { card: { card_retailer: card_val}}
      }).done(function(data) {
        //$('#manageCardsModal').empty();
        $('#manageCardsModal').show();
        //$('#manageCardsModal').removeData("modal");
        //$('#manageCardsModal').modal();
      })
    })
  })
</script>