<%= simple_form_for expense, remote: true do |e| %>
  <div class="col-xs-3" data-section="<%= expense.id %>">
    <%= e.input :date, :as => :string, :input_html => { :id => "expense_date_#{expense.id}", :class => "edit-date" } %>
    <%= e.input :retailer %>
  </div>
  <div class="col-xs-3">
    <label for="amt-field-charged">* Amt Charged:</label>
    <input id="amt-field-charged" name='expense[amt_charged]' type='number' min="0.00", max="<%= expense.amt_charged %>" step="0.01" class="form-control" value=<%= number_with_precision(expense.amt_charged, precision: 2) %> />
    <%= e.input :how_to_pay %>
  </div>
  <div class="col-xs-3">              
    <%= e.association :card, :collection => Card.where(:user_id => current_user.id), :label_method => lambda {|card| card.card_retailer} %>
    <%= e.association :responsible_party, :collection => ResponsibleParty.where(:user_id => current_user.id), :label_method => lambda {|party| party.name } %>
  </div>
  <div class="col-xs-3">
    <br />
    <%= e.submit 'Change', :class => 'btn btn-warning btn-sm' %>
    <%= link_to 'Cancel', "#edit#{expense.id}", :class => 'btn btn-danger btn-sm', :data => { :toggle => 'collapse', :parent => '#accordion' } %>
  </div>
  <br class="clr" />
<% end %>