<br />
<br />
<br />
<div class="setup-section col-xs-12">
  <h2>Initial Setup:</h2><br class="clr" />
  <div class="col-xs-4 col-xs-offset-1">
    <span class="setup-title"><b>Setup Cards:</b></span><br />
    <div class="setup-box">
      Please add one or more credit cards to your profile. Setting up a card allows users to add credit card expenses for that specific cards.
    </div>
    <br />
    <div class="card-list">
      <div class="col-xs-12">
      <% current_user.cards.each_with_index do |card, index| %>
        <div class="col-xs-2"><%= index + 1 %>:</div>
        <div class="col-xs-4"><%= link_to card.card_retailer, "#", :class => "card-name", :data => { :id => card.id, :url => "/cards/#{card.id}", :type => :text, :name => "card_name", :pk => card.id } %></div>
        <div class="col-xs-4"><i id="<%= card.id %>" class="glyphicon glyphicon-trash del-card"></i></div>
        <br />
      <% end %>
      </div>
      <br class="clr"/>
      <br />
      <div class="card-add-form">
        <%= simple_form_for Card.new, :url => "/cards", :method => "post" do |e| %>
          <%= e.input :card_retailer, :label => "Card", wrapper_html: { class: "form-inline" } do %>
            <%= e.input_field :card_retailer, :label => "Card", :style => "margin-left: 30px;" %>
        <%= e.button :submit, "Add", :class => "btn btn-info card-add-button", :style => "margin-left: 30px;" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
