<br />

<div class="col-xs-12">
  <div class="expense-section col-xs-6">
    <div class="pull-left">
      <%= link_to "Add expense", "#", :class => "btn btn-info", :data => { :toggle => :modal, :target => "#addExpenseModal" } %>
      <%= link_to "Manage cards and payees", setup_path, :class => "btn btn-info" %>
    </div>
    <br class="clr" />
    <br />
    <h3>Expenses for <%=current_user.email%></h3>
    <div class="panel-group" id="accordion" role="tablist" style="padding: 0;">
      <%= render current_expenses.where(:archived => false).order("date DESC") %>
    </div>
  </div>
  <%= render :partial => '/payplans/payplan' %>
</div>

<!-- New expense modal -->
<%= simple_form_for Expense.new do |e| %>
<div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new expense</h4>
      </div>
      <div class="modal-body">
        <%= render 'expenses/new', e: e %>
      </div>
      <div class="modal-footer">
        <button id="close-modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= e.submit "Add", :class => "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  $(function() {
//    $("input#expense_date.string.required.form-control").click(function() {
//      $(this).datepicker({ dateFormat: 'yy-mm-dd' });
//      $(this).datepicker('show');
//    });    
    
    $(".edit-date").datepicker({ dateFormat: 'yy-mm-dd' });
        
    // For new expense
    $('.expense-date').datepicker({dateFormat: 'yy-mm-dd'});
    
  })
</script>