<div class="col-xs-2 pull-right user-box-expense-page">
  <b>User logged in:</b> <span class="user-credentials"><%= current_user.email %></span><br />
</div>
<br />

<div class="col-xs-12">
  <div class="expense-section col-xs-6">
    <div class="pull-left">
      <%= link_to "Add expense", "#", :class => "btn btn-info", :data => { :toggle => :modal, :target => "#addExpenseModal" } %>
      <%= link_to "Manage cards and payees", setup_path, :class => "btn btn-info" %>
    </div>
    <br class="clr" />
    <br />
    <h3>Expenses for <%=current_user.email%> <span class="badge"><%= current_expenses.where(:archived => false).count %></span></h3>
    <div id="expense_filters">
      <% if params["rp_filter"] %>
        Showing expenses for <%= params["rp_filter"] %>&nbsp; &nbsp;
        <%= link_to "| All Expenses", expenses_path %>
      <% end %>
    </div>
    <div class="panel-group" id="accordion" role="tablist" style="padding: 0;">
      <%#= render current_expenses %>
      <% current_expenses.each do |expense| %>
        <div id="expense-row-<%= expense.id %>" class="panel panel-default">
          <%= render partial: 'expense', locals: { expense: expense } %>
        </div>
      <% end %>
      <%= will_paginate current_expenses %>
    </div>
  </div>
  <%= render :partial => '/payplans/payplan' %>
</div>

<!-- New expense modal -->
<%= simple_form_for Expense.new do |e| %>
<div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new expense</h4>
      </div>
      <div class="modal-body">
        <%= render 'expenses/new', e: e %>
      </div>
      <div class="modal-footer">
        <button id="close-modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= e.submit "Add", :class => "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  $(function() {
    $(".edit-date").datepicker({ dateFormat: 'yy-mm-dd' });
        
    // For new expense
    $('.expense-date').datepicker({dateFormat: 'yy-mm-dd'});
    
  })
</script>